/******************fun.html*******************/
/*===========================================*/
body {
	background-color:#FBF3AE;
}

.fun-text {
	font-family: 'Clicker Script', 'Helvetica Neue', 'sans-serif';
	position:relative;
	width:100%;
	margin-top:100px;
	text-align:center;
	color:#4a4a4a;
	font-size:54px;
}

.fun-list {
	font-size:20px;
	position:relative;
	text-align:center;
	width:100%;
	line-height: 1.5;
}

hr {
	width:85%;
	height:1.5px;
	position:relative;
}

.credits {
	font-size:10px;
	position:relative;
	margin-bottom:10px;
	margin-left:10px;
}