html, 
body {
	font-family: 'Josefin Sans', 'Helvetica Neue', 'sans-serif';
	height: 100%;
  	width: 100%;
  	margin:0px;
}

b,
strong {
  font-weight: bold;
}

h1, h2, h3, h4 {
	color:grey;
}

p, li {
	font-weight:400;
	font-size:18;
}

a {
	text-decoration:none;
	color:grey;
}
/*807*/
/**************index.html****************/
/*======================================*/
@media only screen and (min-width:807px){
.header {
	background-color:#FBF3AE;
	opacity:.75;
	margin-left:auto;
	margin-right:auto;
	top:110px;
	margin-bottom:50px;
	position:absolute;
	height:140px;
	width:100%;
	z-index:2;
}

.header-text {
	font-size:64px;
	font-weight:700;
	color:grey;
	text-align: right;
	padding-top:100px;
	padding-right:30px;
	z-index:3;
	top:50px;
	position:relative;

}

.img-holder {
	border-radius: 50%;
	width: 220px;
	height: 220px;
	overflow:hidden;
	top:80px;
	margin-bottom:40px;
	position:relative;
	float:left;
	margin-left:10%;
	z-index:3;
}

.nav-bar {
	width:100%;
	height:60px;
	position:fixed;
	background-color:white;
	border-bottom:1px solid #E6E6E6;
	opacity:.95;
	z-index:100;
}

.logo {
	width:80;
	height:80;
	position:absolute;
	margin-top:-7;
	left:7%;
	transition:.3s;
}

.logo:hover {
	width:90;
	height:90;
	margin-top:-12;
	margin-left:-5;
}

.menu {
	display:none;
}

.tabs {
	display:inline-block;
	color:grey;
	font-size:13;
	float:right;
	transition:.3s;
	margin-right:5%;
	margin-top:25;
}

.tabs:hover {
	color:#A5E5E4;
}

#chevron {
	display:none;
}

#chevron2 {
	display:none;
}

.footer {
	width:90%;
	margin-right:auto;
	margin-left:auto;
	height:32px;
	text-align: center;
	color:grey;
	font-size:18px;
	z-index:5;
	position:relative;
	bottom:-145px;
}

hr {
	color:white;
	background:white;
	width:85%;
	height:2.5px;
	border:none;
	margin-bottom:25px;
	z-index:5;
}

#bicycle {
	display:block;
	height:360px;
	width:360px;
	top:120px;
	position:relative;
	margin-right:10%;
	float:right;
	z-index:5;
}

#hot-air-balloon {
	display:block;
	height:400px;
	width:400px;
	float:left;
	top:110px;
	position:relative;
	margin-right:auto;
	z-index:5;
}

#directory {
	width:50%;
	margin-top:120px;
	float:right;

}

.select {
	font-size:36px;
	color:grey;
	line-height:3;
	padding-left:40px;
	border: 3px solid white;
	border-radius:12px;
	margin-bottom:20px;
	margin-right:60px;
	transition:.3s;
	position:relative;
}

.select:hover {
	background-color:white;
	opacity:.8;
}

.left-carot {
	position:absolute;
	right:25;
	display:inline;
}

#welcome {
	margin-left:auto;
	margin-right:auto;
	width:260px;
	top:100px;
	float:left;
	margin-left:10%;
	color:grey;
	font-size:30px;
	line-height:2;
	border: 3px solid white;
	border-radius:12px;
	padding:10px;
	text-align:center;
	z-index:6;
	position:relative;
}

#content-box {
	height:550px;
	position:absolute;
}

}
/*806*/
@media only screen and (max-width:806px) {
.header {
	background-color:#FBF3AE;
	opacity:.75;
	margin-left:auto;
	margin-right:auto;
	top:50px;
	margin-bottom:50px;
	position:absolute;
	height:120px;
	width:100%;
	z-index:2;
}

.header-text {
	font-size:40px;
	color:grey;
	text-align: center;
	padding-top:40px;
	z-index:3;
	top:50px;
	position:relative;
}

.img-holder {
	border-radius: 50%;
	width: 220px;
	height: 220px;
	overflow:hidden;
	top:70px;
	margin-bottom:40px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	z-index:3;
}

.nav-bar {
	width:100%;
	height:60px;
	position:fixed;
	background-color:white;
	border-bottom:1px solid #E6E6E6;
	opacity:.95;
	z-index:100;
}

.logo {
	width:80;
	height:80;
	position:absolute;
	margin-top:-7;
	left:45%;
	transition:.3s;
}

.logo:hover {
	width:90;
	height:90;
	margin-top:-12;
	margin-left:-5;
}

.tabs {
	/*color:grey;
	font-size:13;
	float:right;
	transition:.3s;
	margin-right:5%;
	margin-top:25;
	display:none;*/
	position: absolute !important;
	top:-9999px !important;
	left:-9999px !important;
}

.tabs:hover {
	color:#A5E5E4;
}

.menu {
	display:inline-block;
	width:30;
	height:30;
	float:right;
	margin-top:13;
	margin-right:7%;
	transition:.3s;
}

.menu:hover {
	width:35;
	height:35;
	margin-left:7;
}

#chevron {
	display:block;
	height:60px;
	width:80px;
	bottom:-120px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	z-index:5;
}

#chevron2 {
	display:block;
	height:60px;
	width:80px;
	top:420px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	z-index:5;
}

.overlay {
	position: absolute;
	background-size:cover;
	background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.85));
	width:100%;
	min-height:620px;
	height:100%;
	z-index:0;
}

.footer {
	width:90%;
	margin-right:auto;
	margin-left:auto;
	height:32px;
	text-align: center;
	color:grey;
	font-size:18px;
	z-index:10;
	position:relative;
	bottom:0px;
}

hr {
	color:white;
	background:white;
	width:85%;
	height:2.5px;
	border:none;
	margin-bottom:25px;
	z-index:10;
}

#bicycle {
	display:block;
	height:75px;
	width:75px;
	top:20px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	z-index:5;
}

#hot-air-balloon {
	display:block;
	height:70px;
	width:70px;
	top:20px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:80px;
	z-index:5;
}

#directory {
	margin-left:auto;
	margin-right:auto;
	top:70px;
	width:290px;
}

.select {
	font-size:30px;
	color:grey;
	line-height:3;
	border: 3px solid white;
	border-radius:12px;
	margin-bottom:20px;
	padding-left:20px;
	position:relative;
	transition:.3s;
}

.select:hover {
	background-color:white;
	opacity:.8;
}

.left-carot {
	position:absolute;
	right:25;
	display:inline;
}

#welcome {
	margin-left:auto;
	margin-right:auto;
	width:250px;
	top:70px;
	color:grey;
	font-size:30px;
	line-height:2;
	border: 3px solid white;
	border-radius:12px;
	padding:10px;
	text-align:center;
	margin-bottom:40px;
}

}

#meadow {
	background-image: url(../img/meadow2.JPG);
	background-size:cover;
	opacity:.85;
	top:60;
	width:100%;
	min-height:620px;
	height:100%;
	overflow:stretch;
	position:absolute;
	z-index:-1;
}


.img-holder img {
	width:100%;
	height:100%;
}

#main {
	min-height:620px;
	height:100%;
}

#menu {
	background-color:#FBF3AE;
	min-height:630px;
	height:100%;
}

#contact {
	background-color:#CEF6F5;
	min-height:620px;
	height:100%;
	z-index:19;
}

/************professional.html*****************/
/*============================================*/
.nav-bar {
	width:100%;
	height:60px;
	position:fixed;
	background-color:white;
	border-bottom:1px solid #E6E6E6;
	opacity:.95;
	z-index:100;
}

/*.logo {
	width:80;
	height:80;
	position:absolute;
	margin-top:-7;
	left:7%;
	transition:.3s;
}

.logo:hover {
	width:90;
	height:90;
	margin-top:-12;
	margin-left:-5;
}*/

.tabs {
	display:inline-block;
	color:grey;
	font-size:13;
	float:right;
	transition:.3s;
	margin-right:5%;
	margin-top:25;
}

.tabs:hover {
	color:#A5E5E4;
}

.blue-back {
	background-color:#CEF6F5;
	position:absolute;
	bottom:0;
	z-index:1;
/*	min-height:100%;*/
	min-height:100%;
	width:100%;
/*	height:auto;*/
}

#title {
	font-family: 'Poiret One', 'Josefine Sans', 'sans serif', cursive;
	position:absolute;
	margin:8 10;
	left:5%;
	color:grey;
	font-size:32;
}


.footer2 {
	width:100%;
	height:20px;
	text-align: center;
	color:grey;
	font-size:16px;
	position:absolute;
	bottom:0;
	z-index:100;
	/*padding-top:5;*/
	background-color:white;
	opacity:.8;
}

.resume-icons {
	height:60;
	width:60;
	left:48%;
	top:0;
	position:relative;
}

#code {
	left:47%;
	height:55;
	width:55;
}

.right {
	height:70;
	width:70;
	top:0;
	position:absolute;
	margin-top:-120;
	right:5%;
	float:right;
	transition:.2s;
}

.right:hover {
	opacity:.7;
}

.left {
	height:70;
	width:70;
	top:0;
	position:absolute;
	margin-top:-120;
	float:left;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transition:.2s;
}

.left:hover {
	opacity:.7;
}

#education {
	top:100;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-bottom:20px;

}

#tech {
	background-color:#CEF6F5;
	top:100;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-bottom:20px;
	display:none;
}

#leadership {
	background-color:#CEF6F5;
	top:100;
	height:auto;
	position:relative;
	padding-bottom:20px;
	display:none;
}

#computer {
	background-color:#CEF6F5;
/*	min-height:620;
	height:100%;*/
	height:auto;
	top:100;
	position:relative;
	padding-bottom:20px;
	display:none;
}

.heading {
	font-size:24;
	color:grey;
	width:90%;
	text-align:center;
	border-bottom:1px solid white;
	margin-left:auto;
	margin-right:auto;
	margin-top:10;
}

.items {
	font-size:18;
	color:grey;
/*	width:900;*/
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	z-index:0;
	margin-top:20; 
	background-color:#CEF6F5;
	padding: 0 50 20 50;
}

li {
	line-height:1.5;
}

.focus {
	font-size:19;
	color:grey;
	font-weight:bold;
}

.dates {
	font-size:16;
	color:grey;
	position:absolute;
	right:0;
	font-weight:bold;
	margin-right:50;
}


/***************creative.html*****************/
/*===========================================*/

















/******************fun.html*******************/
/*===========================================*/


