<html>
	<head>
		<title>Jaclyn Burge</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href="/static/css/creative-style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">		
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<script	type="text/javascript" src="/static/js/masonry.pkgd.js"></script>
		<script	type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
		<script type="text/javascript" src="/static/js/script.min.js" charset="utf-8"></script>
<!--[if IE ]> Unfortunately, Internet Explorer is not currently supported on this website. Your best options for viewing will be Chrome or Safari. Apologies for the inconvenience. Thank you!<![endif]-->
	</head>

	<body>
		<div class="nav-bar">
				<a href="/"><img class="logo" src="/static/img/jfb_thick.svg"></a>
				<div id="home">Home</div>
				<a class="tabs" id="just_for_fun" href="/fun">JUST FOR FUN</a>
				<a class="tabs" id="creative_outlets" href="/creative">CREATIVE OUTLETS</a>
				<a class="tabs" id="professional" href="/professional">PROFESSIONAL</a>
				<img id="menu" src="/static/img/menu.svg">
				<!-- Menu designed by David Vickhoff from the Noun Project	 -->	
			</div>
<div id="content">
<div id="creative-heading">
	<div class="creative-tabs" id="music-tab">Music</div>
	<div class="creative-tabs" id="photography-tab">Photography</div>
	<div class="creative-tabs" id="artwork-tab">Artwork</div>

</div>
<section id="photography">
<div class="intro">Just a small glimpse into how I view the world.</div>
<a class="embedly-card" href="https://instagram.com/sumi_field/">Jaclyn (수미) (@sumi_field) * Instagram photos and videos</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<div class="intro">Some personal favorites:</div>
<div id="photography-items">
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/korea.JPG"/>
		<div class="photo-caption">Korea</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/italy.jpg"/>
		<div class="photo-caption">Italy</div>
	</div>
		<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/rainbow.JPG"/>
		<div class="photo-caption">Narada Falls</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/seattle.JPG"/>
		<div class="photo-caption">Seattle</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/matterhorn.JPG"/>
		<div class="photo-caption">Matterhorn</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/ladies.JPG"/>
		<div class="photo-caption">Painted Ladies</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/sky.jpg"/>
		<div class="photo-caption">NYC</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/travestere.JPG"/>
		<div class="photo-caption">Travestere</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/tivoli.JPG"/>
		<div class="photo-caption">Tivoli</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/ballet.JPG"/>
		<div class="photo-caption">Ballet</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/sathergate.JPG"/>
		<div class="photo-caption">Sather Gate</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/eiffel.JPG"/>
		<div class="photo-caption">Eiffel</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/yosemite.JPG"/>
		<div class="photo-caption">Yosemite</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/bridge.JPG"/>
		<div class="photo-caption">Golden Gate</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/countryroad.JPG"/>
		<div class="photo-caption">Country Roads</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/yellow.JPG"/>
		<div class="photo-caption">Yellow</div>
	</div>
		<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/ocean.JPG"/>
		<div class="photo-caption">Ocean</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/trafficlights.JPG"/>
		<div class="photo-caption">Focus</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/doe.JPG"/>
		<div class="photo-caption">UC Berkeley</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/napali.JPG"/>
		<div class="photo-caption">Napali Coast</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/peonies.JPG"/>
		<div class="photo-caption">Spring</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/paris.JPG"/>
		<div class="photo-caption">Paris</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/bikes.JPG"/>
		<div class="photo-caption">Technicolor Bikes</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/chain.JPG"/>
		<div class="photo-caption">Pacifica</div>
	</div>
</div>
		<div id="footer-c">
			<hr>
				Made with &#10084; from scratch by Jaclyn &copy; 2015
		</div>
</section>
<section id="music">
	<div class="intro">Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything. - Plato</div>
		<br>
	<div id="box1" style="position:relative">
	<div class="music-photo" id="piano">
		<img class="img-scaled" src="/static/img/Portfolio_Pics/piano.JPG"/>
	</div>
	<div class="music-boxes" id="music-training">
		Training
		<ul>
			<li>13 years of piano lessons</li>
			<li>2 years of pipe organ lessons</li>
			<li>1 year of percussion in Kingsburg High School symphonic band</li>
			<li>Music 98: Traditional Korean Percussion (UC Berkeley)</li>
			<li>Music 128: History of the Symphony (UC Berkeley)</li>
			<li>Music 109: Music Cognition (UC Berkeley)
			<li>Music 135: Musics of the Caribbean (UC Berkeley)</li>
			<li>Music 148: African Percussion (UC Berkeley)</li>
		</ul>
	</div>
	</div>
	<div id="box2">
	<div class="music-boxes" id="music-experience">
		Experience
		<ul>
			<li>Volunteer pianist at various Berkeley senior homes and the Alzheimer's Services of the East Bay weekly (2014-2015)</li>
			<li>Wedding Pianist (Nov 2013)</li>
			<li>Performed Beethoven's Piano Concerto #2 with Kingsburg High School wind ensemble (2011)</li>
			<li>Piano accompanist for performance of Glazunov's Saxophone Concerto in E flat major, Op.109(2011)</li>
			<li>1 year of percussion in Kingsburg High School symphonic band (2010-2011)</li>
			<li>Piano Solo Festival at Fresno State University rating 'Excellent' for Debussy's Clair de Lune (2010)</li>
			<li>Volunteered as weekly pianist for local senior home (2008-2010)</li>
			<li>Pipe Organ Encounters sponsored by the American Guild of Organists in Seattle (2008) and San Diego (2009)</li>
			<li>Piano Solo Festival at Fresno State University rating 'Excellent' for Beethoven's Sonata Op.14 No.2 (2008)</li>
			<li>Play for offertory and Christmas Eve service at home church on occasion</li>
		</ul>
	</div>
	<div class="music-photo" id="ego">
		<img class="img-scaled" src="/static/img/ego.JPG"/>
	</div>	
	<div id="artists">
		<div style="font-size:24">Favorite Musical Artists:</div>
		<br>
		<br>
		Debussy, Chopin, Beethoven, Death Cab for Cutie, Coldplay, Muse, Bob Marley, The Postal Service, Imagine Dragons, Alt-J, U2, Ludovico Einaudi
	</div>
</div>
			<div class="footer">
			<hr>
				Made with &#10084; from scratch by Jaclyn &copy; 2015
		</div>
</section>
</div>
<section id="artwork">
	<div class="intro">In 2013 I spent the summer at Ewha Woman’s University in Seoul, Korea studying Traditional East Asian painting. It was a glorious experience as I immersed myself in the Korean half of my culture for the first time in my life, with no prior understanding of the language. Perhaps most special to me was knowing that I was retracing the steps of my grandmother and grand aunt, who graduated from Ewha studying piano and art, respectively. The first few items below showcase some of my work from that summer.</div>
<div id="artwork-items">
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/fan-full.PNG"/>
		<div class="photo-caption">Traditional East Asian Painting</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/bamboo.JPG"/>
		<div class="photo-caption">Bamboo</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/blossoms-small.JPG"/>
		<div class="photo-caption">Plum Blossoms</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/fan-close.JPG"/>
		<div class="photo-caption">Fan</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/blossoms-close.jpg"/>
		<div class="photo-caption">Plum Blossoms</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/ark.jpeg"/>
		<div class="photo-caption">Ark Easter Service</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/greatminds.JPG"/>
		<div class="photo-caption">Doodles</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/road.JPG"/>
		<div class="photo-caption">Country Roads</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/collage.JPG"/>
		<div class="photo-caption">Travel</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/artbar.JPG"/>
		<div class="photo-caption">Eiffel Tower</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/jfb.svg"/>
		<div class="photo-caption">Personal Logo</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/slippers.JPG"/>
		<div class="photo-caption">Ballet</div>
	</div>
	<div class="photo">
		<img class="img-scaled" src="/static/img/Portfolio_Art/sfbridge.JPG"/>
		<div class="photo-caption">Golden Gate</div>
	</div>
</div>
		<div id="footer-c">
			<hr>
				Made with &#10084; from scratch by Jaclyn &copy; 2015
		</div>
</section>
<div id="toggle-menu" style="display:none">
		<div class="sidebar-item"><a class="sidebar-link" href="/">Home</a>
		</div>
		<div class="sidebar-item"><a class="sidebar-link" href="/professional">Professional</a>
		</div>
		<div class="sidebar-item"><a class="sidebar-link" href="/creative">Creative Outlets</a>
		</div>			
		<div class="sidebar-item"><a class="sidebar-link" href="/fun">Just For Fun</a></div>
	</div>

</div>
</body>
</html>