<html>
	<head>
		<title>Jaclyn Burge</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
	<!-- 	// <script type="text/javascript" src="/static/js/waypoints.min.js" charset="utf-8"></script> -->
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
	</head>

	<body>
		<div id="content">
		<div class="nav-bar">
				<a href="/"><img class="logo" src="/static/img/jfb_thick.svg"></a>
				<a class="tabs" href="/fun">JUST FOR FUN</a>
				<a class="tabs" href="/creative">CREATIVE OUTLETS</a>
				<a class="tabs" href="/professional">PROFESSIONAL</a>
				<img id="menu" src="/static/img/menu.svg">
				<!-- Menu designed by David Vickhoff from the Noun Project	 -->	
			</div>

<div class="header-text">Just For Fun: Coming Soon
				</div>
<div id="toggle-menu" style="display:none">
		<div class="sidebar-item"><a class="sidebar-link" href="/professional">Professional</a>
			<a class="sidebar-item-child" href="/professional">Resume</a>
			<a class="sidebar-item-child">Projects</a>	
			<a class="sidebar-item-child">Articles</a>
		</div>
		<div class="sidebar-item"><a class="sidebar-link" href="/creative">Creative Outlets</a>
			<a class="sidebar-item-child">Music</a>
			<a class="sidebar-item-child">Photography</a>	
			<a class="sidebar-item-child">Artwork</a>
		</div>			
		<div class="sidebar-item"><a class="sidebar-link" href="/fun">Just For Fun</a></div>
	</div>

</body>
</html>