<html>
	<head>
		<title>Jaclyn Burge</title>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">	
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
	<!--[if IE ]> Unfortunately, Internet Explorer is not currently supported on this website. Your best options for viewing will be Chrome or Safari. Apologies for the inconvenience. Thank you!<![endif]-->
	<!-- 	// <script type="text/javascript" src="/static/js/waypoints.min.js" charset="utf-8"></script> -->
		<script type="text/javascript" src="/static/js/script.min.js" charset="utf-8"></script>
	</head>

	<body>
		<!-- <div class="overlay"></div> -->
		<div class="nav-bar">
				<a href="/"><img class="logo" src="/static/img/jfb_thick.svg"></a>
				<div id="home">Home</div>
				<a class="tabs" id="just_for_fun" href="/fun">JUST FOR FUN</a>
				 <a class="tabs" id="creative_outlets" href="/creative">CREATIVE OUTLETS</a>
				<a class="tabs" id="professional" href="/professional">PROFESSIONAL</a>
				<a class="tabs" id="home" href="/index">HOME</a>
				<!-- <div class="nav-bar-popup" id="popup1">
					<div class="sidebar-item-child"><a href="/professional">Resume</a></div>
					<div class="sidebar-item-child"><a href="/professional">Projects</a></div>
					<div class="sidebar-item-child"><a href="/professional">Articles</a></div>
				</div>
				<div class="nav-bar-popup" id="popup2">
					<div class="sidebar-item-child"><a href="/creative">Photography</a></div>
					<div class="sidebar-item-child"><a href="/creative">Music</a></div>
					<div class="sidebar-item-child"><a href="/creative">Artwork</a></div>
				</div>
				<div class="nav-bar-popup" id="popup3">
					<div class="sidebar-item-child"><a href="/fun">Hobbies</a></div>
				</div> -->
				<img id="menu" src="/static/img/menu.svg">
				<!-- Menu designed by David Vickhoff from the Noun Project	 -->	
			</div>
	<div id="content">
		<section id="main">
			<div id="meadow">
			</div>
			<div class="img-holder">
				<img src="/static/img/brick.jpg">
			</div>
			<div id="aboutme">
							<div class="header-text">Hi. I’m <b>Jaclyn Field Burge.</b></div>
							<div id="left-col">
									Product Manager
									<br>Data Analyst
									<br>Student
									<br>Pianist
									<br>Researcher
									<br>Multicultural Percussionist
							</div>
							<div id="right-col">
									Tai Chi Enthusiast
									<br>Web Developer
									<br>Ballerina
									<br>Teacher
									<br>Story Collector
									<br>Explorer of the World
							</div>
						</div>
				<!-- <div class="header">
				</div> -->
				<!-- <div class="header-text">Jaclyn Field Burge
				</div> -->
				<div>
					<img id="chevron" src="/static/img/down.png">
				</div>
				<!-- Arrow designed by Lauren Frager from the Noun Project -->
		</section>
<!-- 		<section id="menu-section">
			<div id="menu-overlay">
					<img id="hot-air-balloon" src="/static/img/hot-air-balloon.png"> -->
					<!-- Hot Air Balloon designed by Ealancheliyan s from the Noun Project -->
				<!-- 	<div id="directory">
						<div id="aboutme">
							<span style="font-size:35"><b>I’m Jaclyn</b></span>, a 4th year undergraduate at <b>UC Berkeley</b> studying <b>Cognitive Science</b> (aka the interdisciplinary study of the mind). I am inspired by learning and diverse experiences, with an <b>insatiable curiosity</b> and an aversion to stagnation. People say I’m eccentric, whimsical, headstrong, passionate, reserved, and facetious. Most importantly, I view the world with <b>hope</b> and plan on using every day of my life to <b>make a positive difference</b>. 
						</div>
					</div>
			</div>

		</section> -->
		<section id="contact">
			<hr>
			<div class="logo-holder">
				<img src="/static/img/jfb.png">
			</div>
	<!-- 			<img id="bicycle" src="/static/img/bicycle.png"> -->
				<!-- Bicycle designed by Fabio Meroni from the Noun Project-->
			<div id="welcome">
			<img class="social-icon" src="/static/img/pin.png">Berkeley, CA
			<br>
			<a href="mailto:jacburge@berkeley.edu"><img class="social-icon" src="/static/img/email.png"></a> @berkeley.edu
			<br>
			<a href="http://linkedin.com/in/jacburge" target="_blank"><img class="social-icon" src="/static/img/linkedin.png"></a> /jacburge
			<br>
			<a href="http://github.com/jacburge" target="_blank"><img class="social-icon" src="/static/img/git.png"/></a> /jacburge
			<br>
			<a href="http://twitter.com/jac_burge" target="_blank"><img class="social-icon" src="/static/img/tweet.png"/></a> @jac_burge
			<br>
			<a href="http://instagram.com/sumi_field" target="_blank"><img class="social-icon" src="/static/img/insta.png"></a> @sumi_field
			</div>
		<div class="footer">
			<hr>
				Made with &#10084; from scratch by Jaclyn &copy; 2014
		</div>
		</section>
	<div id="toggle-menu" style="display:none">
		<div class="sidebar-item"><a class="sidebar-link" href="/">Home</a>
		</div>
		<div class="sidebar-item"><a class="sidebar-link" href="/professional">Professional</a>
<!-- 			<a class="sidebar-item-child" href="/professional">Resume</a>
			<a class="sidebar-item-child">Projects</a>	
			<a class="sidebar-item-child">Articles</a> -->
		</div>
		<div class="sidebar-item"><a class="sidebar-link" href="/creative">Creative Outlets</a>
	<!-- 		<a class="sidebar-item-child">Music</a>
			<a class="sidebar-item-child">Photography</a>	
			<a class="sidebar-item-child">Artwork</a> -->
		</div>			
		<div class="sidebar-item"><a class="sidebar-link" href="/fun">Just For Fun</a>
<!-- 			<a class="sidebar-item-child">Hobbies</a> -->
		</div>
	</div>
	</div>
	</body>

</html>