<html>
	<head>
		<title>Jaclyn Burge</title>
		<link href="static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jqfloat.js"></script>
	</head>

	<body>
		<div class="overlay"></div>
		<section id="main">
			<div id="meadow">
			</div>
			<div class="img-holder">
				<img src="/static/img/me.jpg">
			</div>
			<div style="position:relative;">
				<div class="header">
				</div>
				<div class="header-text">Jaclyn Field Burge
				</div>
			</div>
				<div>
					<img id="chevron" src="/static/img/chevron.png">
				</div>
				<!-- Arrow designed by Lauren Frager from the Noun Project -->
		</section>
		<section id="menu">
					<img id="hot-air-balloon" src="/static/img/hot-air-balloon.png">
					<!-- Hot Air Balloon designed by Ealancheliyan s from the Noun Project -->
					<div id="directory">
						<div class="select">
							Professional <div class="left-carot"> > </div>
						</div>

						<div class="select">
							Creative Outlets <div class="left-carot"> > </div>
						</div>
						<div class="select">
							Just for Fun <div class="left-carot"> > </div>
						</div>
					</div>

		</section>
		<section id="contact">
				<img id="bicycle" src="/static/img/bicycle.png">
				<!-- Bicycle designed by Fabio Meroni from the Noun Project-->
			<div id="welcome">
			Welcome to my site! It is currently in progress, but feel free to check it out every once in a while as I update. :)	
		</div>
			<div>	
				
			</div>
		<div class="footer">
			<hr>
				&copy; 2014 Jaclyn Field Burge
		</div>
		</section>



<script>
 $(document).ready(function() {
	$('.down').jqFloat('play');
	});
</script>


	</body>
</html>