<html>
	<head>
		<title>Professional</title>
		<link href="/static/css/style.css" type="text/css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<script type="text/javascript" src="/static/js/jquery-1.10.2.js" charset="utf-8"></script>
		<!-- <script type="text/javascript" src="assets/waypoints.min.js" charset="utf-8"></script> -->
		<script type="text/javascript" src="/static/js/script.js" charset="utf-8"></script>
</script>
	</head>
	<body>
	
<!-- 		<div class="blue-back"> -->
				<div class="nav-bar">
					<a href="/"><img class="logo" src="/static/img/jfb_thick.svg"></a>
					<div class="tabs">ARTICLES</div>
					<div class="tabs">PROJECTS</div>
					<div class="tabs">RESUME</div>
				<img id="menu" src="/static/img/menu.svg">
				<!-- Menu designed by David Vickhoff from the Noun Project	 -->				
				</div>
			<div id="resume">
				<section id="education">
					<img class="resume-icons" src="/static/img/grad.png" />
					<!-- Graduate Cap designed by Diego Naive from the Noun Project -->
					<div class="heading">EDUCATION</div>
					<div class="items">
					<div class="dates">Class of 2015</div><br><div class="focus">University of California, Berkeley</div>
						Bachelor of Arts, Cognitive Science (emphasis in Computer Science)
					<ul>
						<li>Interdisciplinary study of the mind, integrating fields such as computer science, neuroscience, and psychology.</li>
						<li>UC Berkeley Regent's and Chancellor's Scholar</li>
						<li>CS Coursework: <br><b>CS 10</b> (Beauty and Joy of Computing), <br><b>CS 61A</b> (Functional Programming), <br><b>CS 70</b> (Discrete Mathematics, Probability, and Algorithms), <br><b>CS 195</b> (Social Implications of Compution), <br> <b>CS 198</b> (The Web Design Decal)</li>
					</ul>
					<img class="right" id="next-1" src="/static/img/arrows-right.png" />
				</div>
				
				</section>
					<section id="tech">
					<img class="resume-icons" id ="code" src="/static/img/code.png" />
					<!-- Code designed by Darren Barone from the Noun Project -->
					<div class="heading">WORK EXPERIENCE</div>
					<div class="items">
					<div class="dates">(upcoming) May 2014</div><br><div class="focus">Liberty Mutual, Seattle</div> 
						Product Management Intern
					<br>
					<div class="dates">Jul 2013 - Mar 2013</div><br><div class="focus">uGuru.me, Berkeley</div> 
						Co-Founder, Product Manager, Front-End UI
					<ul>
						<li><a href="www.berkeley.uguru.me">uGuru.me</a> is an early-stage tutoring startup following agile methods, making it easy and affordable for UC Berkeley students to find peer tutors.</li>
						<li>Design wireframes with Balsamiq, develop workflow specs, and draft all written content. Impelement front-end design and best mobile user interface practices.</li>
						<li>Manage the marketing team and growth hacking team, communicating between our interns and back-end developers.</li>
						<li>Research competing sites to evaluate which features may be most effective, especially for developing business strategies and proposals.</li>
						<li>Conduct usability studies to optimize design and functionality, and perform data analysis based on surveys and Google Analytics for our current numbers of 700+ tutor signups and 20k page views (as of Dec 2013).</li>
					</ul>
						<div class="dates">Jan 2013 - Dec 2013</div><br><div class="focus">BJC/edX Research Team, UC Berkeley Computer Science Department</div> 
						Head of Content Development
					<ul>
						<li>Research interface methods of free online education for computer science, with the goal of expanding world-wide computer science accessibility.</li>
						<li>Develop and implement the best techniques in a revolutionary project to bring UC Berkeley's CS 10: The Beauty and Joy of Computing course to the edX site as a MOOC.</li>
					</ul>
					
						<div class="dates">Jan 2013 - Present</div><br><div class="focus">CS 10: The Beauty and Joy of Computing, UC Berkeley Computer Science Department</div> 
						Reader and Lab Assistant
					<ul>
						<li>Evaluate and grade student quizzes and projects for UC Berkeley's <a href="www.inst.eecs.berkeley.edu/~cs10/fa13">CS 10.</a></li>
						<li>Guide and assist UC Berkeley students who have no prior computer science experience with learning the visual programming languages BYOB (Build Your Own Blocks) and <a href="www.snap.berkeley.edu/run">Snap!</a></li>
					</ul>
					<img class="left" id="back-1" src="/static/img/arrows-right.png" />
					<img class="right" id="next-2" src="/static/img/arrows-right.png" />
					</div>
				</section>
					<section id="leadership">
					<img class="resume-icons" src="/static/img/quill.png" />
					<!-- Quill designed by Cyrille LE FLOCH from the Noun Project -->
					<div class="heading">LEADERSHIP EXPERIENCE</div>
					<div class="items">
					<div class="dates">Jan 2013 - May 2013</div><br><div class="focus">Residential Hall Association, Maximino Martinez Commons, UC Berkeley</div> 
						President Emeritus
					<ul>
						<li>Presided over all Hall Association and Executive Committee meetings as Chief Execute Officer.</li>
						<li>Planned, delegated, and executed events and policies in service of the residential community.</li>
					</ul>
					<div class="dates">Aug 2012 - May 2013</div><br><div class="focus">Regents' and Chancellor's Scholarship Association, UC Berkeley</div> 
						Student Activities Committee
					<ul>
						<li>Developed and organized community service events for the most prestigious scholarship honor association on campus.</li>
						<li>Acted as liason between Regents' Scholars of the other UC campuses, coordinating cross-campus social events.</li>
					</ul>
						<div class="dates">Jun 2012 - Dec 2012</div><br><div class="focus">SAT Prep Business, Kingsburg, CA</div> 
						Founding Entrepreneur and Instructor
					<ul>
						<li>Initiated, developed, and taught a 3 week intensive and affordable summer group program, preparing high school students to take the SAT in an underprivileged area with limited opportunities.</li>
						<li>Helped all 10 students increase their SAT scores by an average of 200 points in the duration of the program.</li>
						<li>Provided continued free mentorship throughout their college application processes.</li>
					</ul>
					<img class="left" id="back-2" src="/static/img/arrows-right.png" />
					<img class="right" id="next-3" src="/static/img/arrows-right.png" />
					</div>
				</section>
				<section id="computer">
					<img class="resume-icons" src="/static/img/laptop.png" />
					<!-- Laptop designed by Ahmed Trochilidae from the Noun Project -->
					<div class="heading">COMPUTER SKILLS</div>
					<div class="items">
					<span class="focus">Familiar With:</span> HTML, CSS, GitHub, Unix, Python, Google Analytics, Scheme, Balsamiq, InVision, Asana, MailChimp
					<br>
					<br>
					<span class="focus">Currently Learning:</span> Adobe Photoshop and Illustrator, Flask, Javascript
					<br>
					<br>
					<img class="left" id="back-3" src="/static/img/arrows-right.png" />
				</div>
			</section>
				
			<div id="toggle-menu" style="display:none">
		<div class="sidebar-item"><a class="sidebar-link" href="/professional">Professional</a>
			<a class="sidebar-item-child" href="/professional">Resume</a>
			<a class="sidebar-item-child">Projects</a>	
			<a class="sidebar-item-child">Articles</a>
		</div>
		<div class="sidebar-item"><a class="sidebar-link" href="/creative">Creative Outlets</a>
			<a class="sidebar-item-child">Music</a>
			<a class="sidebar-item-child">Photography</a>	
			<a class="sidebar-item-child">Artwork</a>
		</div>			
		<div class="sidebar-item"><a class="sidebar-link" href="/fun">Just For Fun</a></div>
	</div>
		
		</div>
<!-- 	</div> -->
		
	</body>


</html>